* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  background-color: rgb(206, 53, 206);
  color: #fff;
}
header ul {
  display: flex;
}
.product-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 3rem 4rem;
}
.product {
  width: 22%;
  height: 400px;
  padding: 0.5rem;
  box-shadow: 2px 4px 3px 3px rgba(68, 56, 56, 0.5);
}
.product img {
  width: 100%;
  height: 60%;
}
.content{ display: flex; z-index: inherit;}

.colfirst{ width: 30%; height: 400px;  border: 2px solid #000;}
.colcart{ width: 30%;  float: left;}
.colsec{ width:60%; height: 400px;  border: 2px solid #000; float: right !important;}

.custom-button {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

